@import '../colors.scss';

.packageSearch {
  background: $yellow;
  padding: 10px 10px;
  border-radius: 20px;
  // TODO: auto grow on type
  width: 500px;
  height:20px;
  text-align: center;
}
.packageSearch:focus-within {
  background: scale-color($yellow, $lightness: 20%);
}

.packageSearch > input:focus {
  outline: none;
}

.packageSearch > input {
  background: transparent;
  border: none;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: $base03;
}

.packageSearch > input::placeholder {
  color: $base03;
}
