@import '../colors.scss';

.parentsWrapper {
  display: inline-block;
  position:absolute;
  transform: translateX(-100%)
}

.parents {
  color: $green;
}

.name {
  color: $blue;
}

.parameterName {
  color: $red;
}

.parameterType {
  color: $yellow;
}

.punctuation {
  color: $base01;
}

.returnType {
  color: $violet;
}