@import './colors.scss';

/* light is default mode, so pair with general html definition */
.light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
html, .dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
html * {
    color-profile: sRGB;
    rendering-intent: auto;
    font-family: 'Fira Code', monospace;
}

.container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}